.header {
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.full_width {
    width: 100%;
    object-fit: cover;
}